<ion-header>
  <ion-toolbar>
    <ion-title>{{institucion.institucion}}</ion-title>
    <ion-buttons slot="start" fill="clear" (click)="closeForm()">
      <!--boton de retroceso a pagina de inicio al final de la cabezera-->
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Fecha de evaluacion: </ion-label>
    <ion-datetime [(ngModel)]="formulario1.Fecha" name="Fecha" displayFormat=" DD MMM YYYY "
      monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre">
    </ion-datetime>
  </ion-item>

  <ion-card>
    <ion-radio-group>
      <ion-label>
        ¿Te han pedido dinero a cambio de realizar un trámite?
      </ion-label>
      <ion-item>
        <ion-segment  (ionChange)="segmentChanged($event)" [(ngModel)]="formulario1.Reactivo1"  color="secondary">
          <ion-segment-button value="10">
            <ion-label>Si</ion-label>
          </ion-segment-button>
          <ion-segment-button value="5">
            <ion-label>No se</ion-label>
          </ion-segment-button>
          <ion-segment-button value="0">
            <ion-label>No</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group>
      <ion-label>
        ¿No han respetado el horario de las citas?
      </ion-label>
      <ion-item>
        <ion-segment [(ngModel)]="formulario1.Reactivo2" name="Reactivo1" color="secondary">
          <ion-segment-button value="10">
            <ion-label>Si</ion-label>
          </ion-segment-button>
          <ion-segment-button value="5">
            <ion-label>No se</ion-label>
          </ion-segment-button>
          <ion-segment-button value="0">
            <ion-label>No</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group>
      <ion-label>
        ¿Hay trabajadores de la Secretaria de Movilidad que parece que no están trabajando?
      </ion-label>
      <ion-item>
        <ion-segment [(ngModel)]="formulario1.Reactivo3" name="Reactivo1" color="secondary">
          <ion-segment-button value="10">
            <ion-label>Si</ion-label>
          </ion-segment-button>
          <ion-segment-button value="5">
            <ion-label>No se</ion-label>
          </ion-segment-button>
          <ion-segment-button value="0">
            <ion-label>No</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group>
      <ion-label>
        ¿Has notado si alguien que viene a realizar trámites lo pasan directamente sin realizar todo el proceso?
      </ion-label>
      <ion-item>
        <ion-segment [(ngModel)]="formulario1.Reactivo4" name="Reactivo1" color="secondary">
          <ion-segment-button value="10">
            <ion-label>Si</ion-label>
          </ion-segment-button>
          <ion-segment-button value="5">
            <ion-label>No se</ion-label>
          </ion-segment-button>
          <ion-segment-button value="0">
            <ion-label>No</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group>
      <ion-label>
        ¿No hay información sobre donde denunciar la corrupción de manera clara y visible?
      </ion-label>
      <ion-item>
        <ion-segment [(ngModel)]="formulario1.Reactivo5" name="Reactivo1" color="secondary">
          <ion-segment-button value="10">
            <ion-label>Si</ion-label>
          </ion-segment-button>
          <ion-segment-button value="5">
            <ion-label>No se</ion-label>
          </ion-segment-button>
          <ion-segment-button value="0">
            <ion-label>No</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group>
      <ion-label>
        ¿Te han pedido requisitos no establecidos durante el registro del trámite?
      </ion-label>
      <ion-item>
        <ion-segment [(ngModel)]="formulario1.Reactivo6" name="Reactivo1" color="secondary">
          <ion-segment-button value="10">
            <ion-label>Si</ion-label>
          </ion-segment-button>
          <ion-segment-button value="5">
            <ion-label>No se</ion-label>
          </ion-segment-button>
          <ion-segment-button value="0">
            <ion-label>No</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group>
      <ion-label>
        ¿Percibe corrupción en esta institución?
      </ion-label>
      <ion-item>
        <ion-segment [(ngModel)]="formulario1.Reactivo7" name="Reactivo1" color="secondary">
          <ion-segment-button value="10">
            <ion-label>Si</ion-label>
          </ion-segment-button>
          <ion-segment-button value="5">
            <ion-label>No se</ion-label>
          </ion-segment-button>
          <ion-segment-button value="0">
            <ion-label>No</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-radio-group>
    <ion-radio-group>
      <ion-label>
        Si tuviera que denunciar actos de corrupción de esta secretaria
        ¿No se siente cómodo para revelar una conducta corrupta?
      </ion-label>
      <ion-item>
        <ion-segment [(ngModel)]="formulario1.Reactivo8" name="Reactivo1" color="secondary">
          <ion-segment-button value="10">
            <ion-label>Si</ion-label>
          </ion-segment-button>
          <ion-segment-button value="5">
            <ion-label>No se</ion-label>
          </ion-segment-button>
          <ion-segment-button value="0">
            <ion-label>No</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-radio-group>
    <ion-item>
      <ion-button *ngIf="masPreguntas==false" slot="end" expand="full" fill="clear" size="default" shape="round" class="btnEnviar"
        (click)="alerta()">
        <ion-icon slot="end" name="mail"></ion-icon>
        Enviar
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="masPreguntas">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">
          1. ¿Cuál fue el propósito de pagar dinero extra o de dar una dádiva?
        </ion-label>
        <ion-select [(ngModel)]="formulario2.Reactivo101" name="Reactivo101" okText="Aceptar" cancelText="Cancelar">
          <ion-select-option>
            a. Acelerar un trámite
          </ion-select-option>
          <ion-select-option>
            b. Hacer posible la finalización del trámite (que de otro modo no sería posible)
          </ion-select-option>
          <ion-select-option>
            c. Evitar el pago de una multa
          </ion-select-option>
          <ion-select-option>
            d. Recibir un trato preferencial (por ejemplo, aumentar la calificación, reducir impuestos, aumentar
            prestaciones, etc.)
          </ion-select-option>
          <ion-select-option>
            e. Recibir información sobre el proceso (a dónde ir, a quién acercarse, etc.)
          </ion-select-option>
          <ion-select-option>
            f. Fue un signo de agradecimiento por el servicio prestado
          </ion-select-option>
          <ion-select-option>
            g. Sin algún propósito específico (es mejor mantener buenas relaciones)
          </ion-select-option>
          <ion-select-option>
            h. No lo sé
          </ion-select-option>
          <ion-select-option>
            Otro
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          2. ¿Cómo entendió que se esperaba de usted una dádiva o un pago adicional?
        </ion-label>
        <ion-select [(ngModel)]="formulario2.Reactivo102" name="Reactivo102" okText="Aceptar" cancelText="Cancelar">
          <ion-select-option>
            a. Solicitud directa por parte del funcionario
          </ion-select-option>
          <ion-select-option>
            b. El funcionario solicitó indirectamente un pago
          </ion-select-option>
          <ion-select-option>
            c. Una tercera persona solicitó el pago adicional
          </ion-select-option>
          <ion-select-option>
            d. Nadie lo pidió, lo hice para facilitar/acelerar el trámite
          </ion-select-option>
          <ion-select-option>
            e. No lo sé
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          3. ¿En qué momento exactamente dio la dádiva/ dinero?
        </ion-label>
        <ion-select [(ngModel)]="formulario2.Reactivo103" name="Reactivo103" okText="Aceptar" cancelText="Cancelar">
          <ion-select-option>
            a. Antes de la prestación del servicio
          </ion-select-option>
          <ion-select-option>
            b. Después de la prestación del servicio
          </ion-select-option>
          <ion-select-option>
            c. Al mismo tiempo que se prestó el servicio
          </ion-select-option>
          <ion-select-option>
            d. En parte antes y en parte después de la prestación del servicio
          </ion-select-option>
          <ion-select-option>
            e. No lo sé
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          4. ¿A quién se benefició con el trámite?
        </ion-label>
        <ion-select [(ngModel)]="formulario2.Reactivo104" name="Reactivo104" okText="Seleccionar" cancelText="Cancelar">
          <ion-select-option>
            a. Razones personales/familiares (por ejemplo, para usted mismo, en nombre de otro miembro del hogar, en
            nombre de todos los miembros del hogar)
          </ion-select-option>
          <ion-select-option>
            b. Razones de trabajo/negocio (como parte de su actividad económica normal o negocio)
          </ion-select-option>
          <ion-select-option>
            c. Ambos
          </ion-select-option>
          <ion-select-option>
            d. No lo sé
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          5. ¿Recibió el servicio para el que fue destinado el soborno?
        </ion-label>
        <ion-select [(ngModel)]="formulario2.Reactivo105" name="Reactivo105" okText="Seleccionar" cancelText="Cancelar">
          <ion-select-option>
            a. Sí
          </ion-select-option>
          <ion-select-option>
            b. No
          </ion-select-option>
          <ion-select-option>
            c. No lo sé
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          6. ¿Denunciaría lo ocurrido a alguna autoridad oficial o a alguna institución no oficial?
        </ion-label>
        <ion-select [(ngModel)]="formulario2.Reactivo106" name="Reactivo106" okText="Seleccionar" cancelText="Cancelar">
          <ion-select-option>
            a. Sí
          </ion-select-option>
          <ion-select-option>
            b. No
          </ion-select-option>
          <ion-select-option>
            c. No lo sé
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          7. ¿A qué autoridad lo denunciaría usted?
        </ion-label>
        <ion-select [(ngModel)]="formulario2.Reactivo107" name="Reactivo107" okText="Seleccionar" cancelText="Cancelar">
          <ion-select-option>
            a. Organismo anticorrupción
          </ion-select-option>
          <ion-select-option>
            b. Organismo/institución del funcionario que solicita el soborno
          </ion-select-option>
          <ion-select-option>
            c. Otra institución
          </ion-select-option>
          <ion-select-option>
            d. Prensa
          </ion-select-option>
          <ion-select-option>
            e. Organización internacional
          </ion-select-option>
          <ion-select-option>
            f. Organización no gubernamental
          </ion-select-option>
          <ion-select-option>
            g. No lo sé
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          8. ¿Ha denunciado anteriormente un incidente de soborno de la Secretaria de Movilidad?
        </ion-label>
        <ion-select [(ngModel)]="formulario2.Reactivo108" name="Reactivo108" okText="Seleccionar" cancelText="Cancelar">
          <ion-select-option>
            a. Sí
          </ion-select-option>
          <ion-select-option>
            b. No
          </ion-select-option>
          <ion-select-option>
            c. No lo sé
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          9. ¿Qué pasó después de que usted denunció el incidente de soborno?
        </ion-label>
        <ion-select [(ngModel)]="formulario2.Reactivo109" name="Reactivo109" okText="Seleccionar" cancelText="Cancelar">
          <ion-select-option>
            a. Se inició un procedimiento formal contra el funcionario
          </ion-select-option>
          <ion-select-option>
            b. El problema se resolvió de manera informal y me devolvieron el dinero/dádiva
          </ion-select-option>
          <ion-select-option>
            c. Me aconsejaron no continuar con mi denuncia
          </ion-select-option>
          <ion-select-option>
            d. No hubo seguimiento de mi denuncia
          </ion-select-option>
          <ion-select-option>
            e. Sufrí consecuencias negativas en relación con la denuncia del incidente
          </ion-select-option>
          <ion-select-option>
            f. Otro
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          10. ¿Estuvo satisfecho con el trabajo realizado por la autoridad a la que denunció el incidente?
        </ion-label>
        <ion-select [(ngModel)]="formulario2.Reactivo110" name="Reactivo110" okText="Seleccionar" cancelText="Cancelar">
          <ion-select-option>
            a. Si
          </ion-select-option>
          <ion-select-option>
            b. No
          </ion-select-option>
          <ion-select-option>
            c. No lo se
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          11. (En caso de no haberlo hecho) ¿Por qué no lo denunció?
        </ion-label>
        <ion-select [(ngModel)]="formulario2.Reactivo111" name="Reactivo111" okText="Seleccionar" cancelText="Cancelar">
          <ion-select-option>
            a. Es una práctica común pagar o dar dádivas, ¿por qué debería denunciarlo?
          </ion-select-option>
          <ion-select-option>
            b. Es inútil, a nadie le va a importar
          </ion-select-option>
          <ion-select-option>
            c. No sé a quién debería denunciarlo
          </ion-select-option>
          <ion-select-option>
            d. Sé a quién denunciarlo, pero está muy lejos
          </ion-select-option>
          <ion-select-option>
            e. Miedo a las consecuencias negativas para mi
          </ion-select-option>
          <ion-select-option>
            f. No lo denuncié porque recibí un beneficio por el pago/dádiva
          </ion-select-option>
          <ion-select-option>
            g. No lo denuncié porque hice el pago/dádiva como señal de gratitud
          </ion-select-option>
          <ion-select-option>
            h. No lo denuncié porque no quería incurrir en gastos adicionales
          </ion-select-option>
          <ion-select-option>
            i. Otra razón
          </ion-select-option>
          <ion-select-option>
            j. No lo sé
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
    <ion-item>
      <ion-button slot="end" expand="full" fill="clear" size="default" shape="round" class="btnEnviar"
        (click)="alerta2()">
        <ion-icon slot="end" name="mail"></ion-icon>
        Enviar
      </ion-button>
    </ion-item>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <img src="assets/img/logo-oaxaca.png">
    </ion-item>
  </ion-toolbar>
</ion-footer>