<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Denuncia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <label for="">Datos de tu denuncia</label>
  <!-- Default Input -->
  <ion-card>
    <ion-card>
      <label>Hora y fecha del acontecimiento</label>
      <ion-item>
        <ion-label position="floating">Hora: </ion-label>
        <ion-datetime [(ngModel)]="DenunciaExprex.Hora" name="Hora" color="primary" displayFormat="h:mm A">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha: </ion-label>
        <ion-datetime [(ngModel)]="DenunciaExprex.Fecha" name="Fecha" color="primary" displayFormat="DD MMM, YYYY"
          monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre">
        </ion-datetime>
      </ion-item>
    </ion-card>

    <ion-label>Sexo: </ion-label>
    <ion-item>
      <ion-segment [(ngModel)]="DenunciaExprex.sexo" name="sexo" color="primary">
        <ion-segment-button value="H">
          <ion-label>Hombre</ion-label>
        </ion-segment-button>
        <ion-segment-button value="M">
          <ion-label>Mujer</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Otro">
          <ion-label>otro</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <!-- Default Segment -->
    <ion-label>Tipo: </ion-label>
    <ion-segment [(ngModel)]="DenunciaExprex.tipo" name="tipo" color="primary">
      <ion-segment-button value="queja">
        <ion-label>Queja</ion-label>
      </ion-segment-button>
      <ion-segment-button value="denuncia">
        <ion-label>Denuncia</ion-label>
      </ion-segment-button>
      <ion-segment-button value="acoso">
        <ion-label>Acoso</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Number type input -->
    <ion-label>Edad</ion-label>
    <ion-input [(ngModel)]="DenunciaExprex.edad" name="edad" color="primary" size="2" color="success" type="number"
      min="17" max="98"></ion-input>

    <!-- combobox -->
    <ion-input value="Paso 1: verifica que tus datos sean correctos" readonly></ion-input>


    <label>Paso 2 : selecciona la categoria de la dependencia, organo o institucion</label>
    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-select [(ngModel)]="DenunciaExprex.categoria" name="categoria" color="primary">
        <ion-select-option value="i">Secretaria</ion-select-option>
        <ion-select-option value="t">Entidad</ion-select-option>
        <ion-select-option value="d">Organo Publico</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>

      <ion-label position="floating">Institucion</ion-label>
      <ion-select [(ngModel)]="DenunciaExprex.institucion" name="institucion" color="primary" okText="Aceptar"
        cancelText="Cancelar">
        <ion-select-option value="SEMOVI ">Secretaría de Movilidad</ion-select-option>
        <ion-select-option value="SEBIEN">Secretaría de Bienestar del Estado de Oaxaca</ion-select-option>
        <ion-select-option value="SE">Secretaría de Economía</ion-select-option>
        <ion-select-option value="CIVIL">Dirección del Registro Civil</ion-select-option>
        <ion-select-option value="IFREO">Instituto de la Función Registral del Estado de Oaxaca</ion-select-option>
        <ion-select-option value="SAPAO">Servicios de Agua Potable y Alcantarillado de Oaxaca</ion-select-option>
        <ion-select-option value="IAIP">Instituto de Acceso a la Información Pública y Protección de Datos Personales
        </ion-select-option>

      </ion-select>
    </ion-item>
    <!-- fin del combo-->
    <ion-item>
      <ion-label position="floating">
        Description detallada de tu denuncia:
      </ion-label>
      <ion-textarea [(ngModel)]="DenunciaExprex.descripcion" name="descripcion" color="primary" rows="12"
        placeholder="describe el motivo de tu denuncia..."></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card>

    <ion-text color="success">
      <sub>
        <i>
          Bienvenido ,Realiza tu denuncia 100% anonima sin miedo a represalias
        </i>
      </sub>
    </ion-text>


    <ion-label>Adjunta evidencia a tu denuncia para mayor credibilidad</ion-label>
    <ion-list>
      <ion-item>
        <ion-button ion-button block (click)="tomarFoto()">Tomar foto</ion-button>
        <ion-button ion-button block (click)="Galeria()">Abrir Galeria</ion-button>
      </ion-item>
      <ion-item>
        <img  [src]="img" *ngIf="img"/>
        <ion-input type="hidden" name="foto"  [(ngModel)]="DenunciaExprex.foto" value="{{img}}"></ion-input>
      </ion-item>
    </ion-list>

  </ion-card>
  <ion-item>
    <ion-buttons>
      <ion-button (click)="alerta()" slot="end" size="default" color="success">
        Enviar
        <ion-icon name="mail"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <footer>

  </footer>


</ion-content>