<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Autoevaluacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-label>Bateria de Preguntas</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿Te has saltado la fila?
            </ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="cord" ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
        </ion-radio-group>
         <!--separador de preguntas-->
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿No has pagado por algo que has tomado?
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <!--separador de preguntas-->
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿No has devuelto algo que te encontraste y no es tuyo?
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
        </ion-radio-group>
         <!--separador de preguntas-->
         <ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿Has mentido sobre el valor real de algo que vendes?
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
        </ion-radio-group>
         <!--separador de preguntas-->
         <ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿No has pagado todos tus impuestos?
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
        </ion-radio-group>
         <!--separador de preguntas-->
         <ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿Has mentido para obtener subsidios o programas de gobierno?
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
        </ion-radio-group>
         <!--separador de preguntas--><ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿Has fingido alguna enfermedad o emergencia familiar para no cumplir un compromiso?
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
        </ion-radio-group>
         <!--separador de preguntas-->
         <ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿No has pagado tus deudas?
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
        </ion-radio-group>
         <!--separador de preguntas-->
         <ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿Has tirado la basura en la calle?
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
        </ion-radio-group>
         <!--separador de preguntas-->
         <ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿Has dañado un objeto sin querer y has huido sin pagarlo?
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
        </ion-radio-group>
         <!--separador de preguntas-->
         <ion-radio-group>
          <ion-list-header>
            <ion-label>
              ¿Te has hecho el occiso, cuando te devuelven cambio de más?
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>SI</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>NO</ion-label>
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
          
        </ion-radio-group>
         <!--separador de preguntas-->
      </ion-list>
      <ion-buttons>
        <ion-button slot="end" class="cpc">
          Enviar
        </ion-button>
      </ion-buttons>
    </ion-card-content>
 </ion-card>


</ion-content>
