
.btnEnviar {
  --background: hsl(330, 81%, 39%);
  color:   #fcf8fa;
  border: var(--background);
}

.col {
  color:   mediumvioletred; //Esta es la línea que nos interesa.
}
.ac {
    color: red;
  }

  .selectOption{
    color: #5a032e;
  }