<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        
      </ion-menu-button>
    </ion-buttons>     
      <ion-label position="center">
        Oaxaca + Íntegro
      </ion-label>
      <ion-icon slot="end" src="assets/img/o+i.svg"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <img src="assets/img/cpc.png"/>
    <ion-card-header>
      <ion-card-subtitle>Comite de Participacion Ciudadana</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <h2>Realiza aquí tus denuncias de corrupción, sobornos, mala atención, 
        trafico de influencias, abuso de autoridad,  de manera anónima ,
        sin miedo a represalias</h2>
    </ion-card-content>
  </ion-card>
  
  <ion-toolbar horizontal="center">
    <ion-button size="small" shape="round" color="medium" >Iniciar Sesion</ion-button>
    <ion-button size="small" shape="round" fill="outline" color="medium">Registrarse</ion-button>
    <h6>¿Olvidaste tu contraseña?</h6>
  </ion-toolbar>
    <img src="assets/img/oaxaca+integro.png">
</ion-content>

<ion-footer>
  <ion-footer>
    <ion-toolbar>
      <img src="assets/img/1.png"/>
      &copy; 2020 ITVO Oficial & C. P. C Oaxaca
    </ion-toolbar>
  </ion-footer>
</ion-footer>